* {
    margin: 0;
    padding: 0;
    display: block;

}

body {
    display: block;
    height: auto;
    float: none;
    background-image: url("https://images.unsplash.com/photo-1508615070457-7baeba4003ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.min-width{
    min-width:800px;
}

.login-button {
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 8px 16px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 25px;
    justify-content: center;
    line-height: 5px;
    list-style: none;
    overflow: hidden;
    padding: 32px 32px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 20px;
    margin: 15px -150px;
    size: auto;
}

.login-button:focus {
    box-shadow: #D6D6E7 0 0 0 4.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.login-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.login-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.voting-button {
    padding: .125em 1em;
    border: 2px solid rgb(0 116 204);
    margin: 1rem;
    font-family: inherit;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: .1ch;
    transition: background-color .15s, color .15s;
    background-color: rgb(0 116 204);
    color: white;
    border-radius: 1em;
}

.voting-button:hover {
    background-color: white;
    color: rgb(0 116 204);
    cursor: pointer;
}

.voting-button:active {
    background-color: rgb(0 116 204);
    color: white;
}

.choicestipka{
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 8px 16px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 25px;
    justify-content: center;
    line-height: 5px;
    list-style: none;
    overflow: hidden;
    padding: 32px 32px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 20px;
    margin: 15px 0px;
}

.choicestipka:focus {
    box-shadow: #D6D6E7 0 0 0 4.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.choicestipka:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.choicestipka:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.codestipka{
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 8px 16px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 25px;
    justify-content: center;
    line-height: 5px;
    list-style: none;
    overflow: hidden;
    padding: 32px 32px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 20px;
    margin: 15px 0px;
}

.codestipka:focus {
    box-shadow: #D6D6E7 0 0 0 4.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.codestipka:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.codestipka:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.routetipka{
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 8px 16px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 25px;
    justify-content: center;
    line-height: 5px;
    list-style: none;
    overflow: hidden;
    padding: 32px 32px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 20px;
    margin: 15px 0px;
}

.routetipka:focus {
    box-shadow: #D6D6E7 0 0 0 4.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.routetipka:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.routetipka:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
.headerfont{
    margin-top: 60px;
    margin-bottom: -30px;
    font-size: 36px;
    font-family: "JetBrains Mono",monospace;
}
.font1{
    font-family: "JetBrains Mono",monospace;
    font-size: 22px;
}

.bordercenter{
    margin: auto;
    width: 50%;
    padding: 50px;
    size: auto;
}
.bordercentertitle{
    margin: auto;
    padding: 50px;
    margin-top: 60px;
    margin-bottom: 40px;
}
.bordercentertitle2{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.lowerouterborder{
    padding: 150px;
}
.landinginput{
    margin-bottom: 30px;
    margin: 0px -10px;
    padding: 12px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid white;
    font-family: "JetBrains Mono",monospace;
    font-size: 13px;
    translateX: -50%;
}
.admininput{
    border: none;
    outline: none;
    background: transparent;
    font-family: "JetBrains Mono",monospace;
    border-bottom: 1px solid white;
    font-size: 20px;
}
.hyperlink{
    color: white;
    text-decoration: none !important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border: 0;
}

