body {
    display: block;
    height: auto;
    float: none;
    margin: 0;
    padding: 0;
    background-image: url("https://images.unsplash.com/photo-1520531158340-44015069e78e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1272&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.logintipka{
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 8px 16px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 25px;
    justify-content: center;
    line-height: 5px;
    list-style: none;
    overflow: hidden;
    padding: 32px 32px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 20px;
    margin: 15px 0px;
}

.logintipka:focus {
    box-shadow: #D6D6E7 0 0 0 4.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.logintipka:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.logintipka:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.choicestipka{
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 8px 16px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 25px;
    justify-content: center;
    line-height: 5px;
    list-style: none;
    overflow: hidden;
    padding: 32px 32px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 20px;
    margin: 15px 0px;
}

.choicestipka:focus {
    box-shadow: #D6D6E7 0 0 0 4.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.choicestipka:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.choicestipka:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.codestipka{
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 8px 16px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 25px;
    justify-content: center;
    line-height: 5px;
    list-style: none;
    overflow: hidden;
    padding: 32px 32px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 20px;
    margin: 15px 0px;
}

.codestipka:focus {
    box-shadow: #D6D6E7 0 0 0 4.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.codestipka:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.codestipka:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.routetipka{
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 8px 16px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 25px;
    justify-content: center;
    line-height: 5px;
    list-style: none;
    overflow: hidden;
    padding: 32px 32px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 20px;
    margin: 15px 0px;
}

.routetipka:focus {
    box-shadow: #D6D6E7 0 0 0 4.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.routetipka:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.routetipka:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
.headerfont{
    margin-top: 100px;
    margin-bottom: -60px;
    font-size: 36px;
    font-family: "JetBrains Mono",monospace;
}
.bordercenter{
    margin: auto;
    width: 50%;
    padding: 100px;
}
.bordercentertitle{
    margin: auto;
    width: 50%;
    padding: 100px;
    margin-top: 60px;
}
.bordercentertitle2{
    margin: auto;
    width: 50%;
    padding: 100px;
    left: 30%;
}
.bordercentertitle3{
    margin: auto;
    width: 50%;
    padding: 100px;
}


.lowerouterborder{
    padding: 150px;
}
.landinginput{
    margin-top: 50px;
    padding: 12px;
    width: 40%;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid black;
    font-family: "JetBrains Mono",monospace;
}



